.contact {
    padding-top: 50px;
    padding-bottom: 90px;
    background-color: #F4F4F4;
    &__wrap {
        display: grid;
        grid-template-columns: auto 560px;
    }
    &__steps {
        padding-right: 100px;
        display: flex;
        flex-direction: column;
    }
    &__step {
        margin-top: 25px;
        display: grid;
        grid-template-columns: 45px auto;
        column-gap: 30px;
    }
    &__round {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        width: 45px;
        height: 45px;
        border-radius: 100%;
        background-color: $yellow_color;
        border: 1px solid $yellow_color;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        line-height: 28px;
    }
    &__title {
        grid-column: 2 / 3;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
    }
    &__desc {
        grid-column: 2 / 3;
        margin-top: 10px;
        font-size: 14px;
        line-height: 21px;
    }
    &__quote {
        position: absolute;
        top: -120px;
        left: 580px;
        
        &-top {
            padding: 0 50px;
            height: 70px;
            display: grid;
            align-items: center;
            grid-template-columns: 40px auto;
            column-gap: 25px;
            background: rgba(255, 255, 255, .8);
            border-radius: 5px 5px 0 0;
            img {
                width: 100%;
            }
            &__message {
                font-size: 18px;
                line-height: 25px;
                text-align: center;
            }
        }
        &-main {
            padding-bottom: 50px;
            background-color: #fff;
            box-shadow: 0px 6px 40px rgba(0, 0, 0, 0.06);
            border-radius: 0px 0px 10px 10px;
            display: flex;
            justify-content: center;
        }
    }
}