.footer {
    padding-top: 50px;
    padding-bottom: 40px;
    background-color: $dark_blue;
    
    &__grid {
        display: grid;
        grid-template-columns: 300px auto 280px;
        grid-template-rows: repeat(2, auto);
    }

    &__title {
        margin: 60px 80px 0 80px;
        font-size: 20px;
        line-height: 28px;
        color: #FFFFFF;
        text-align: center;
    }

    &__contacts {
        display: grid;
        grid-template-columns: 76px auto;
        grid-template-rows: repeat(4, auto);
        
        span {
            font-weight: bold;
            font-size: 16px;
            line-height: 21px;
            color: #FFFFFF;
        }
        button {
            grid-column: 1 / 3;
            margin-top: 30px;
        }
    }
    address {
        font-style: normal;
        font-size: 16px;
        line-height: 21px;
        color: #FFFFFF;
    }
    &__phone {
        font-size: 16px;
        line-height: 21px;
        color: #FFFFFF;
        text-decoration: none;
    }
    &__hours {
        font-size: 16px;
        line-height: 21px;
        color: #FFFFFF;
    }
    
    &__locations {
        margin-top: 60px;
        font-size: 16px;
        line-height: 21px;
        text-align: right;
        color: #FFFFFF;
        grid-column: 3 / 4;
        grid-row: 1 / 3;
        ul {
            margin-top: 20px;
            list-style-type: none;
        }
        li {
            color:#FFFFFF;
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        list-style-type: none;
    }
    &__link {
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
        a {
            color: #FFFFFF;
            text-decoration: none;
            &:hover {
                color: $yellow_color;
            }
        }
    }
    &__copyright {
        margin-top: 70px;
        p {
            font-size: 12px;
            color:#FFFFFF;
            text-align: center;
        }
    }
}