.hamburger {
    display: block;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;
    height: 18px;
    
    span {
        display: block;
        height: 2px;
        width: 100%;
        margin-bottom: 4px;
        background-color: #fff;
        border: 1px solid #fff;
        transition: .3s all;
    }
    &_active { 
        span {
            margin-bottom: -2px;
            &:nth-child(1) {
                transform: translateY(3px) rotate(-45deg);
            }
            &:nth-child(2) {
                display: none;
            }
            &:nth-child(3) {
                transform: translateY(3px) rotate(45deg);
            }
        }
    }
}