@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .title {
        font-size: 28px;
        line-height: 35px;
    }
    .btn {
        font-size: 18px;
    }
    
    .promo {
        nav {
            margin-left: 70px;
        }
        &__link {
            font-size: 16px;
            line-height: 16px;
        }
        &__title {
            font-size: 52px;
        }
        &__block{
            width: 110px;
            height: 90px;
        }
        &__desc {
            font-size: 14px;
            line-height: 18px;
        }
    }
    .contact {
        &__steps {
            padding-right: 70px;
        }
        &__quote {
            left: 500px;
            &-top {
                &__message {
                    font-size: 14px;
                    line-height: 16px;
                }
            }
        }
    }
    .feed-form {
        grid-template-columns: 200px 200px;
        &__input {    
            input {
                width: 200px;
            }
        }
        &__textarea {
            textarea {
                width: 420px;
            }
        }
    }
    .commitments {
        &__desc {
            font-size: 14px;
        }
    }
    .services {
        &__message {
            width: 540px;
            font-size: 20px;
            line-height: 25px;
        }
    }
    .works {
        &__items {
            width: 900px;
        }
    }
    .reviews {
        &__desc {
            font-size: 13px;
        }
        &__name {
            font-size: 16px;
        }
    }
    .footer {
        &__title {
            font-size: 18px;
        }
        &__link {
            font-size: 17px;
            line-height: 24px;
        }
        &__locations {
            font-size: 14px;
        }
        &__contacts {
            column-gap: 10px;
            span {
                font-size: 14px;
            }
            address {
                font-size: 14px;
            }
        }
        &__phone {
            font-size: 14px;
        }
        &__hours {
            font-size: 14px;
        }
    }
}

@media (max-width: 991px) {  
    .container {
        max-width: 720px;
    }
    
    .title {
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        &_contact {
            margin: 0 auto 15px auto;
            width: 100%;
        }
    }
    .promo {
        padding-top: 0;
        &__topheader {
            display: block;
        }
        &__list {
            position: fixed;
            flex-direction: column;
            justify-content: center;
            top: 0;
            left: -100%;
            width: 50%;
            height: 100vh;
            padding: 20px 15px;
            background-color: rgba(0,0, 0, .8);
            z-index: 10;
            transition: .6s all;
            &_active {
                left: 0;
            }
        }
        &__link {
            margin: 20px;
            font-size: 20px;
        }
        &__header {
            padding-top: 50px;
        }
        &__title {
            margin-top: 60px;
            width: 500px;
            font-size: 45px;
            line-height: 58px;
        }
    }
    .contact {
        padding-bottom: 40px;
        &__wrap {
            grid-template-columns: auto;
            justify-items: center;
        }
        &__steps {
            padding-left: 70px;
            margin-bottom: 60px;
        }
        &__title {
            font-size: 16px;
        }
        &__quote {
            position: static;
            &-top {
                background: transparent;
                background-color: #fff;
            }
        }
    }
    .feed-form {
        label {
            height: 14px;
            font-size: 12px;
        }
    }
    .services {
        &__tab {
            width: 160px;
            &_active {
                width: 160px;
            }
        }
        &__content {
            width: 700px;
        }
        &__items {
            grid-template-rows: 80px;
            grid-auto-rows: 80px;
        }
        &__item {
            width: 150px;
            height: 80px;
        }
        &__desc {
            width: 100px;
            font-size: 14px;
            line-height: 19px;
            top: 10px;
        }
        &__footer {
            margin-top: 45px;
        }
        &__message {
            width: 320px;
            font-size: 18px;
            line-height: 25px;
        }
    }
    .works {
        &__items {
            width: 100%;
        }
        .slick-prev {
            left: 25%;
            &_small {
                left: 5px;
            }
        }
        .slick-next {   
            right: 25%;
            &_small {
                right: 5px;
            }
        }
    }
    .faq {
        &__grid {
            margin-top: 25px;
            grid-template-columns: auto;
            justify-content: center;
        }
        
    }
    .reviews {
        &__body {
            font-size: 14px;
        }
    }
    .footer {
        padding-top: 40px;
        &__grid {
            margin-left: 30px;
            grid-template-columns: 250px auto;
            grid-template-rows: repeat(6,auto);
            row-gap: 20px;
            column-gap: 180px;
        }
        &__title {
            grid-column: 1 / 2;
            margin-left: 20px;
            margin-right: 60px;
            font-size: 16px;
            line-height: 23px;
            margin: 0;
            text-align: left;
        }
        &__locations {
            margin-top: 50px;
            grid-column: 2/ 3;
            grid-row: 1 / 4;
            text-align: left;
        }
        &__contacts {
            margin-top: 30px;
            grid-column: 1 / 2;
            
        }
        &__nav {
            display: none;
        }
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }
    .promo {
        
        &__title {
            margin-top: 40px;
        }
    }
    .feed-form {
        &__policy {
            font-size: 12px;
        }
    }
    .commitments {
        &__wrap {
            display: block;
            width: 300px;
            margin: 50px auto 0 auto;
        }
        &__item {
            width: 100%;
            justify-content: center;
        }
        &__desc {
            width: 75%;
        }
    }
    .services {
        &__tab {
            width: 120px;
            font-size: 14px;
            &_active {
                width: 120px;
            }
        }
        &__content {
            width: 480px;
        }
        &__items {
            grid-template-columns: repeat(3, auto);
        }
        &__footer {
            grid-template-columns: auto;
        }
        &__message {
            margin-bottom: 30px;
            font-size: 14px;
            line-height: 21px;
        }
    }
    .works  {
        .slick-prev {
            left: 20%;
            &_small {
                left: 5px;
            }
        }
        .slick-next {   
            right: 20%;
            &_small {
                right: 5px;
            }
        }
    }
    .faq {
        &__title {
            font-size: 16px;
        }
    }
    .reviews {
        &__stars {
            column-gap: 4px;
            grid-template-columns: repeat(5, 12px);
            img {
                width: 12px;
            }
        }
        &__body {
            line-height: 23px;
        }
    }
    .footer {
        &__grid {
            margin-left: 0;
            grid-template-columns: 300px;
            row-gap: 20px;
            justify-content: center;
        }
        &__title {
            grid-column: 1 / 2;
            margin: 0;
        }
        &__locations {
            grid-column: 1 / 2;
            grid-row: unset;
        }
        &__contacts {
            margin-top: 40px;
            grid-column: 1 / 2;
            grid-row: 3 / 4;
        }  
    }
    .modal {
        width: 540px;
    }
}
@media (max-width: 575px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .title {
        font-size: 18px;
        line-height: 26px;
    }
    .btn {
        height: 35px;
        padding: 5px 10px 0 10px;
        font-size: 14px;
        line-height: 16px;
        &_reviews {
            margin: 20px auto 70px auto;
            width: 280px;
        }
    }
    .promo {
        &__topbar {
            height: 40px;
        }
        &__logo {
            width: 38px;
        }
        &__name {
            font-size: 16px;
            line-height: 19px;
        }
        &__list {
            width: 85%;
        }
        &__title {
            width: 90%;
            margin-top: 100px;
            font-size: 35px;
            line-height: 45px;
        }
        &__blocks {
            margin-top: 100px;
        }
        &__block {
            width: 85px;
            height: 85px;
        }
        &__desc {
            font-size: 12px;
            line-height: 14px;
        }
    }
    .contact {
        &__steps {
            padding-left: 20px;
            padding-right: 20px;
        }
        &__step {
            grid-template-columns: 25px auto;
            column-gap: 17px;
        }
        &__round {
            width: 25px;
            height: 25px;
            font-size: 16px;
            line-height: 16px;
        }
        &__title {
            font-size: 14px;
            line-height: 16px;
        }
        &__desc {
            font-size: 12px;
            line-height: 16px;
        }
        &__quote {
            &-top {
                height: 90px;
                padding: 0 10px;
                grid-template-columns: 25px auto;
                column-gap: 17px;
            }
        }
    }
    .feed-form {
        width: 80%;
        margin-top: 30px;
        grid-template-columns: 100%;
        grid-template-rows: 59px 59px 164px;
        &__textarea {
            grid-column: unset;
            textarea {
                width: 100%;
            }
        }
        &__input {
            input {
                width: 100%;
            }
        }
        &__triggers {
            grid-column: unset;

        }
        &__policy {
            grid-row: 1 / 2;
        }
    }
    .commitments {
        padding-top: 40px;
        padding-bottom: 60px;
        &__desc {
            width: 60%;
        }
        .slick-prev {
            left: 0;
        }
        .slick-next {
            right: 0;
        }
    }
    .services {
        &__tabs {
            grid-template-columns: repeat(2, auto);
        }
        &__tab {
            width: 120px;
            font-size: 14px;
            &_active {
                width: 120px;
            }
        }
        &__content {
            margin-top: 40px;
            width: 300px;
        }
        &__items {
            grid-template-columns: repeat(2, auto);
            gap: 15px;
        }
        &__item {  
            width: 130px;
        }
        &__message {
            width: 250px;
        }
    }
    .works  {
        padding-top: 45px;
        &__carousel {
            margin-top: 40px;
        }
        .slick-prev {
            left: 0;
            &_small {
                left: 5px;
            }
        }
        .slick-next {   
            right: 0;
            &_small {
                right: 5px;
            }
        }
    }
    .faq {
        padding-top: 45px;
        padding-bottom: 50px;
        &__grid {
            margin-top: 10px;
            /* grid-template-columns: 275px; */
        }
        &__title {
            font-size: 14px;
        }
        &__answer {
            font-size: 13px;
        }
    }
    .reviews  {
        padding-top: 40px;
        &__item {
            margin: 30px 10px 0 10px;
            padding: 30px 20px;
        }
        &__desc {
            margin-top: 5px;
            font-size: 10px;
            line-height: 12px;
        }
        &__body {
            font-size: 13px;
            line-height: 21px;
            &:before {
                content: url('../icons/reviews/quote 1.svg');
                top: -35px;
            }
        }
        &__name {
            margin-top: 20px;
            font-size: 14px;
            line-height: 16px;
        }
        &__suburb {
            margin-top: 5px;
            font-size: 13px;
            line-height: 15px;
        }
    }
    .footer {
        &__grid {
            margin: 0 20px 0 20px;
            grid-template-columns: auto;
        }
    }
    .modal {
        width: 90%;
        padding: 53px 20px 44px 20px;
        .feed-form {
            width:  auto;
        }
    }
}