@media (max-width: 1439px) {
    .gallery {
        width: 450px;
    }
}
@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .title {
        font-size: 28px;
        line-height: 35px;
    }
    .btn {
        font-size: 18px;
    }
    
    .promo {
        nav {
            margin-left: 70px;
        }
        &__link {
            font-size: 14px;
            line-height: 16px;
        }
        &__title {
            width: 640px;
            font-size: 48px;
            letter-spacing: 3px;
        }
        &__blocks {
            width: 370px;
            grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
        }
        &__block{
            height: 90px;
        }
        &__desc {
            margin-top: 15px;
            font-size: 14px;
            line-height: 18px;
        }
    }
    .contact {
        &__steps {
            padding-right: 70px;
        }
        &__quote {
            left: 500px;
            &-top {
                &__message {
                    font-size: 14px;
                    line-height: 16px;
                }
            }
        }
    }
    .feed-form {
        grid-template-columns: 200px 200px;
        &__input {    
            input {
                width: 200px;
            }
        }
        &__textarea {
            textarea {
                width: 420px;
            }
        }
        &__triggers {
            column-gap: 40px;
        }
    }
    .services {
        &__message {
            width: 540px;
            font-size: 20px;
            line-height: 25px;
        }
    }
    .reviews {
        &__name {
            font-size: 14px;
        }
    }
    .footer {
        padding-top: 20px;
        &__grid {
            column-gap: 140px;
        }
        &__locations {
            font-size: 14px;
        }
        &__contacts {
            column-gap: 10px;
            span {
                font-size: 14px;
            }
            address {
                font-size: 14px;
            }
        }
        &__phone {
            font-size: 14px;
        }
        &__hours {
            font-size: 14px;
        }
    }
}

@media (max-width: 991px) {  
    .container {
        max-width: 720px;
    }
    
    .title {
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        &_contact {
            margin: 0 auto 15px auto;
            width: 100%;
        }
    }
    .btn {
        &_promo {
            display: none;
        }
    }
    .promo {
        padding-top: 0;
        &__topheader {
            display: block;
        }
        &__topbar {
            position: relative;
            .btn_top {
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                height: 35px;
                text-transform: capitalize;
            }
        }
        &__list {
            position: fixed;
            flex-direction: column;
            justify-content: center;
            top: 0;
            left: -100%;
            width: 50%;
            height: 100vh;
            padding: 20px 15px;
            background-color: rgba(0,0, 0, .9);
            z-index: 3;
            transition: .6s all;
            &_active {
                left: 0;
            }
        }
        &__link {
            margin: 20px;
            font-size: 20px;
        }
        &__header {
            padding-top: 50px;
        }
        &__title {
            margin-top: 60px;
            width: 610px;
            font-size: 45px;
            line-height: 58px;
        }
    }
    .contact {
        display: none;
    }
    .feed-form {
        label {
            height: 14px;
            font-size: 12px;
        }
    }
    .policy {
        h2 {
            font-size: 20px;
        }
        h3 {
            font-size: 14px;
        }
        p {
            font-size: 12px;
        }
    }
    .services {
        &__tab {
            font-size: 17px;
        }
        &__content {
            margin-top: 60px;
        }
        &__item {
            height: 70px;
        }
        &__desc {
            font-size: 16px;
            line-height: 20px;
            width: 85%;
            top: 10px;
        }
        &__message {
            width: 320px;
            font-size: 18px;
            line-height: 25px;
        }
    }
    .works {
        &__items {
            width: 100%;
        }
        .slick-prev {
            left: 25%;
        }
        .slick-next {   
            right: 25%;
        }
    }
    .faq {
        &__grid {
            margin-top: 25px;
            grid-template-columns: auto;
            justify-content: center;
        }
        &__title {
            font-size: 16px;
        }
        
    }
    .footer {
        &__grid {
            grid-template-columns: 250px auto;
            grid-template-rows: repeat(6,auto);
            row-gap: 20px;
            column-gap: 180px;
        }
        &__locations {
            grid-column: 2/ 3;
            grid-row: 1 / 4;
            text-align: left;
        }
        &__contacts {
            margin-top: 30px;
            grid-column: 1 / 2;
        }
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }
    .promo {
        &__title {
            margin-top: 40px;
            width: 500px;
            font-size: 40px;
            letter-spacing: 1px;
        }
    }
    .feed-form {
        &__policy {
            font-size: 12px;
        }
    }
    .policy {
        padding: 30px;
    }
    .commitments {
        &__wrap {
            display: block;
            width: 300px;
            margin: 50px auto 0 auto;
        }
        &__item {
            width: 100%;
            justify-content: center;
        }
        &__desc {
            width: 75%;
        }
    }
    .services {
        &__tabs {
            margin-top: 50px;
        }
        &__tab {
            font-size: 15px;
        }
        &__content {
            margin-top: 50px;
        }
        &__items {
            grid-template-columns: repeat(3, auto);
        }
        &__footer {
            grid-template-columns: auto;
        }
        &__message {
            margin-bottom: 30px;
            font-size: 14px;
            line-height: 21px;
        }
    }
    .works  {
        .slick-prev {
            left: 20%;
        }
        .slick-next {   
            right: 20%;
        }
    }
    .gallery {
        width: 400px;
    }
    .reviews {
        &__item {
            margin: 50px 50px 0 50px;
        }
        &__stars {
            column-gap: 4px;
            grid-template-columns: repeat(5, 12px);
            img {
                width: 12px;
            }
        }
        &__body {
            font-size: 13px;
            line-height: 23px;
        }
        &__name {
            margin-top: 15px;
        }
    }
    .btn {
        &_reviews {
            margin: 60px 50px 0 auto;
        }
    }
    .footer {
        &__grid {
            margin-top: 40px;
            grid-template-columns: 250px;
            row-gap: 20px;
            justify-content: center;
        }

        &__locations {
            grid-column: 1 / 2;
            grid-row: unset;
        }
        &__contacts {
            margin-top: 40px;
        }
        &__copyright {
            margin-top: 50px;
        }
    }
    .modal {
        width: 540px;
    }
}
@media (max-width: 575px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .title {
        font-size: 18px;
        line-height: 26px;
    }
    .btn {
        height: 35px;
        padding: 5px 10px 0 10px;
        font-size: 14px;
        line-height: 16px;
        &_reviews {
            margin: 20px auto 0 auto;
        }
    }
    .promo {
        &__list {
            width: 85%;
        }
        &__title {
            width: 90%;
            margin-top: 60px;
            font-size: 35px;
            line-height: 45px;
        }
        &__blocks {
            width: 100%;
            margin-top: 100px;
        }
        &__block {
            height: 85px;
        }
        &__desc {
            margin-top: 10px;
        }
    }
    
    .feed-form {
        width: 80%;
        margin-top: 30px;
        grid-template-columns: 100%;
        grid-template-rows: 59px 59px 164px;
        &__textarea {
            grid-column: unset;
            textarea {
                width: 100%;
            }
        }
        &__input {
            input {
                width: 100%;
            }
        }
        &__triggers {
            grid-column: unset;
            grid-template-columns: auto;
            grid-template-rows: repeat(2, auto);
            row-gap: 20px;
        }
    }
    .policy {
        padding: 10px;
        h2 {
            margin-top: 20px;
            font-size: 18px;
        }
        h3 {
            font-size: 12px;
        }
        p {
            font-size: 10px;
        }
        &__close {
            right: 2%;
        }
    }
    .commitments {
        padding-top: 40px;
        padding-bottom: 60px;
        &__desc {
            width: 60%;
        }
        .slick-prev {
            left: 0;
        }
        .slick-next {
            right: 0;
        }
    }
    .services {
        &__tabs {
            grid-template-columns: repeat(auto-fit, minmax(132px, 1fr));
            row-gap: 10px;
        }

        &__items {
            grid-template-columns: repeat(2, auto);
            gap: 15px;
        }
        &__desc {
            width: 70%;
        }
        &__message {
            width: 250px;
        }
    }
    .works  {
        padding-top: 45px;
        &__carousel {
            margin-top: 40px;
        }
        .slick-prev {
            left: 0;
            height: 35px;
        }
        .slick-next {   
            right: 0;
            height: 35px;
        }
    }
    .gallery {
        width: 95%;
        padding: 5px;
        &__close {
            top: 17px;
            right: 17px;
        }
        .slick-prev, .slick-next {
            img {
                width: 30px;
                height: 30px;
            }
        }
        &__photos  {
            .slick-dots {
                li {
                    margin: 0 5px;
                }
                button {
                    width: 7px;
                    height: 7px;
                }
            }
        }
    }
    .faq {
        padding-top: 45px;
        padding-bottom: 50px;
        &__grid {
            margin-top: 10px;
        }
        &__item {
            margin-top: 20px;
        }
        &__plus {
            margin-right: 15px;
        }
        &__title {
            font-size: 14px;
            line-height: 18px;
        }
        &__answer {
            font-size: 13px;
        }
    }
    .reviews  {
        padding-top: 40px;
        padding-bottom: 70px;
        &__item {
            margin: 30px 10px 0 10px;
            padding: 30px 20px;
        }
        &__desc {
            margin-top: 5px;
            font-size: 10px;
            line-height: 12px;
        }
        &__suburb {
            font-size: 13px;
            line-height: 15px;
        }
    }
    .modal {
        width: 90%;
        padding: 53px 20px 44px 20px;
        .feed-form {
            width:  auto;
        }
    }
}