.top {
    padding-top: 30px;
    padding-bottom: 30px;
    max-height: 100vh;
    background: url('../img/main_bg_new.jpg') center (center/cover) no-repeat;
}

.policy {
    background-color: #fff;
    padding-top: 80px;
    padding-bottom: 80px;
    h2 {
        margin-top: 40px;
        font-size: 22px;
    }
    h3 {
        margin-top: 15px;
        font-size: 16px;
    }
    p {
        margin-top: 10px;
        font-size: 14px;
    }
}

