.services {
    padding-top: 70px;
    padding-bottom: 75px;
    background: url('../img/services_bg.jpg') center (center/cover) no-repeat;
    
    &__tabs {
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: auto;
        margin-top: 70px;
        list-style-type: none;
        margin-bottom: 0;
        padding-left: 0;
        justify-content: center;
        column-gap: 10px;
    }
    &__tab {
        width: 100%;
        padding: 0 10px;
        cursor: pointer;
        font-size: 18px;
        height: 45px;
        border: 1px solid $yellow_color;
        text-transform: uppercase;
        text-align: center;
        line-height: 45px; 
        transition: 0.4s all;
        border-right: 3px solid $yellow_color;
        border-bottom: 2px solid $yellow_color;
        &:hover {
            box-shadow: 3px 3px 20px $yellow_color;
            border: none;
        }
        div {
            color: $yellow_color;
        }
        &_active {
            background-color: $yellow_color;
            border-right: 3px solid #918b46;
            border-bottom: 2px solid #918b46;
            div {
                color: $dark_blue;
            }
        }
    }
    &__content {
        margin: 80px auto 0 auto;
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: auto;
        grid-auto-rows: auto;
        gap: 20px;
        justify-items: center;
    }

    &__item{
        position: relative;
        padding: 20px;
        width: 100%;
        height: 90px;
        border-radius: 5px;
        border: 1px solid #fff;
    }   
    &__desc {
        width: 70%;
        font-size: 22px;
        line-height: 28px;
        color: #fff;
        position: absolute;
        text-transform: capitalize;
    }

    &__footer {
        margin: 75px auto 0 auto;
        display: grid;
        grid-template-columns: repeat(2, auto);
        column-gap: 75px;
        justify-content: center;
        align-items: center;
    }
    &__message {
        width: 620px;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: #FFFFFF;
    }
    
}
    

    